
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form  [formGroup]="formInfo" (ngSubmit)="validateForm()">
    <!-- Pseudo -->
    <div id="container">
      <div class="pseudo-div">
        <h3>Votre pseudo</h3>
        <ion-input formControlName="pseudo" placeholder="Entrer votre pseudo"></ion-input>
      </div>
      <!-- Selection de la catégorie -->
      <div class="category-list">
        <ion-list>
          <ion-list-header>
            <ion-label>
              <h3>Choisissez la catégorie</h3>
            </ion-label>
          </ion-list-header>
        
          <ion-item>
            <ion-select formControlName="category" multiple="false"  okText="Valider" cancelText="Annuler">
              <ion-select-option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!-- Partie choix de la difficulté -->
      <div class="difficulty-list">
        <ion-list>
          <ion-list-header>
            <ion-label>
              <h3>Choisissez la difficulté</h3>
            </ion-label>
          </ion-list-header>
        
          <ion-item>
            <ion-select formControlName="difficulty" multiple="false"  okText="Valider" cancelText="Annuler">
              <ion-select-option *ngFor="let difficulty of difficultiesList">{{difficulty | titlecase }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
      <!-- Nombre de question -->
      <div class="question-quantity">
        <ion-list>
          <ion-list-header>
            <ion-label>
              <h3>Choisissez le nombre de questions</h3>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input formControlName="questionQuantity" type="number"></ion-input>
          </ion-item>
        </ion-list>
      </div>
      <!-- Mémorisation des infos -->
      <div>
        <p>Mémoriser mes informations</p>
        <ion-checkbox formControlName="rememberMe" color="light"></ion-checkbox>
      </div>
      <div>
        <ion-button type="submit" [disabled]="!formInfo.valid" shape="round">Commencer</ion-button>
      </div>
      <!-- Div des erreurs -->
      <div>
        <p class="error ion-padding" *ngIf="errorControl.pseudo.errors?.required">
          Choisissez un pseudo
        </p>
        <p class="error ion-padding" *ngIf="errorControl.pseudo.errors?.minlength">
          Le pseudo doit faire au moins 3 caractères
        </p>

        <p class="error ion-padding" *ngIf="errorControl.difficulty.errors?.required">
          Choisissez un niveau de dificulté
        </p>
      </div>
    </div>
  </form>
</ion-content>
